// Your Team ID (see https://developer.apple.com/account/#!/membership)
DEVELOPMENT_TEAM = XYZ0123456

// Prefix of unique bundle IDs registered to you in Apple Developer Portal.
// You need to register:
//   - com.myuniquename.Purple-Haze
PRODUCT_BUNDLE_PREFIX = com.myuniquename
